<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_commonview">

    <application
        android:theme="@style/Theme.MyApplication">
        <activity  android:name=".CommonViewEnterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".edittext.EditTextActivity">
        </activity>
        <activity
            android:name=".textview.AlignTextViewActivity">
        </activity>
        <activity
            android:name=".edittext.VerificationCodeEditTextActivity">
        </activity>
        <activity
            android:name=".edittext.VerificationCodeWithCursorActivity">
        </activity>
    </application>

</manifest>