<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_commonview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".CommonViewEnterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".edittext.EditTextActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".textview.AlignTextViewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".edittext.VerificationCodeEditTextActivity">
        </activity>
        <activity
            android:name=".edittext.VerificationCodeWithCursorActivity">
        </activity>

        <activity
            android:name=".keyboard.BangbangKeyboardActivity">
        </activity>
        <activity
            android:name=".keyboard.KeyboardActivity">
        </activity>
        <activity
            android:name=".wheelview.yuri.YuriWheelViewActivity">
        </activity>
        <activity
            android:name=".wheelview.florent.FlorentWheelViewActivity">
        </activity>
        <activity
            android:name=".applink.AppLinkActivity">
        </activity>
    </application>

</manifest>