<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_appbarlayout">

    <application>
        <activity android:name="com.example.module_appbarlayout.MainAppBarLayoutActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.MyApplication"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.example.module_appbarlayout.AppbarLayoutEnterActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.MyApplication"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.example.module_appbarlayout.AppbarLayoutSimpleActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.MyApplication"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.example.module_appbarlayout.HomePageRawActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.MyApplication"
            android:screenOrientation="portrait">
        </activity>
    </application>


</manifest>